* {
  box-sizing: border-box;
}

/* Simple Selectors */
html {
  color: black;
  font-size: 20px;
  font-family: fantasy;
}

main {
  color: darkblue;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

section {
  color: darkgoldenrod;
}

div {
  color: gray;
}

p {
  color: red;
  margin: 100px 0;
  border: 5px solid green;
  padding: 50px;
}

a {
  color: pink;
}

nav ul {
  display: inline;
}

li {
  display: inline;
}

#moveMe {
  position: absolute;
  top: 5px;
  right: 5px;
}